{% extends 'inventario/base.html' %}
{% load static %}
{% load custom_filters %}
{% block titul %}Entradas{% endblock %}
{% block container %}
<div class="bg-white p-4 border rounded custom-padding m-4 rounded-lg">
    <div class="text-center">
        <h1>Entradas</h1>
    </div>
    <form class="d-flex mb-2" role="search" method="post" action="{% url 'buscar_entrada' %}">
        {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Ingrese nombre del producto" aria-label="Search" name="producto">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    <a href="{% url 'form_entradas' %}" class="btn btn-success mb-2">Añadir Entrada</a>
    
       <div class="mb-2"><strong>TOTAL COMPRAS:</strong>
        ${{suma|format_currency}}</div> 
    
    <table class="table table-bordered">
        <thead class="bg-light">
            <th>Id</th>
            <th>Fecha creacion</th>
            <th>Proveedor</th>
            <th>Codigo Producto</th>
            <th>Categoria</th>
            <th>Producto</th>
            <th>Unidad de medida</th>
            <th>N° de Factura</th>
            <th>Cantidad inicial</th>
            <th>Cantidad Actual</th>
            <th>Valor unidad</th>
            <th>Accion</th>
            
        </thead>
        <tbody>
            {% for i in data %}
            <tr>
                <td>{{i.idEntrada}}</td>
                <td>{{i.fechaEnt}}</td>
                <td>{{i.idProveedor}}</td>
                <td>{{i.idProducto.idProducto}}</td>
                <td>{{i.idProducto.idCategoria}}</td>
                <td>{{i.idProducto}}</td>
                <td>{{i.unidadMedida}}</td>
                <td>{{i.observacion}}</td>
                <td>{{i.cantEntInicial}}</td>
                <td>{{i.cantidadEntrada}}</td>
                <td>${{i.valorUnidad|format_currency}}</td>
                <td>
                    <a class="btn btn-warning" href="{% url 'editar_entrada' i.idEntrada %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                      </svg></a>
                    <a class="btn btn-danger" href="{% url 'eliminar_entrada' i.idEntrada %}" onclick="return confirm('¿Estas seguro de eliminar?')"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                      </svg></i></a>
                </td>
                
            </tr>
            {% endfor %}
            
        </tbody>

    </table>
    
</div>

{% endblock %}