{% extends 'inventario/base.html' %}
{% load static %}
{% block titul %}Formulario Clientes{% endblock %}
{% block container %}
<div class="bg-white m-4 p-4">
    <h1 class="text-center">Formulario Clientes</h1>
    <div class="d-flex justify-content-center">
        <div class="border p-4 rounded shadow-sm bg-light w-75">
            <form action="{% url 'guardar_cliente' %}" method="post">
                {% csrf_token %}
                <input type="hidden" id="" name="idCliente" class="form-control"  value="{{idCliente}}"  >
                <div class="mb-3">
                    <label for="" class="form-label">Nombre del Cliente</label>
                    <input type="" id="" name="nombre" class="form-control" placeholder="Ingrese Nombre del Cliente" value="{{data.nombre}}"  required>
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Documento/NIT</label>
                    <input type="" id="" name="documento" class="form-control" placeholder="Ingrese documento o NIT" value="{{data.documento}}"  required>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}